body{
    background-color: silver;
}
h1{
    font-size : 3vh;
    font-weight: bold;
}
figcaption{
    font-size: 2vh;
}
img{
    width: 25vh;
    height: 30vh;
}
a input{
    text-decoration: none;
    color: black;
}